pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1
joblib==1.4.2
setuptools<81
fastapi==0.111.1
uvicorn[standard]==0.30.3
pydantic==2.8.2
mlflow==2.14.3
dlt[duckdb]==1.18.1
duckdb==1.2.0
dbt-duckdb==1.8.2
dbt-core==1.8.4
dagster==1.7.12
dagster-webserver==1.7.12
dvc==3.51.2
dvc-gdrive==3.0.1
google-api-core==2.19.2
google-api-python-client==2.149.0
googleapis-common-protos==1.65.0
protobuf==4.25.9
prometheus-client==0.20.0
pytest==8.3.2
ruff==0.5.5
streamlit==1.37.0
altair==5.3.0
